@import "tailwindcss";
@theme{
  --color-primary:#F68931;
  --color-secondary:#3B749D;
}
.swiper-pagination{
  bottom: 0;
}
.swiper-pagination-bullet {
  background-color: #d1d1d1;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 9999px;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important; /* yellow-400 */
  width: 24px !important;
  border-radius: 9999px;
}
 .menu-dropdown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.menu:hover .menu-dropdown {
  opacity: 1 !important;
}

